---
import ClientMarqueeReact from "./components/ClientMarqueeReact";
import Container from "../../shared/Container.astro";
import GradiantText from "../../shared/GradiantText.astro";
import SubTitle2 from "../../shared/SubTitle2.astro";
import Title2 from "../../shared/Title2.astro";

const clients = [
  { name: "BIMBO ARGENTINA", logo: "/energy-template/images/clients/bimbo.png" },
  { name: "CUZZUOL S.R.L.", logo: "/energy-template/images/clients/cuzzuol.png" },
  { name: "Estancia LAS MIL ROSAS", logo: "/energy-template/images/clients/las-mil-rosas.png" },
  { name: "Campo de Golf LA ORQUIDEA", logo: "/energy-template/images/clients/la-orquidea.png" },
  { name: "Barrio Cerrado LA CASCADA", logo: "/energy-template/images/clients/la-cascada.png" },
  { name: "Barrio Cerrado PUEYRREDON", logo: "/energy-template/images/clients/pueyrredon.png" },
  { name: "Barrio Cerrado SAUSALITO", logo: "/energy-template/images/clients/sausalito.png" },
  { name: "Barrio Cerrado LOS FRESNOS", logo: "/energy-template/images/clients/los-fresnos.png" },
  { name: "Barrio Cerrado BUEN RETIRO", logo: "/energy-template/images/clients/buen-retiro.png" },
  { name: "Country CUBA", logo: "/energy-template/images/clients/cuba.png" },
  { name: "Country MAYLING", logo: "/energy-template/images/clients/mayling.png" },
  { name: "Country SAN JORGE", logo: "/energy-template/images/clients/san-jorge.png" },
  { name: "Consorcio MANZONE 1027", logo: "/energy-template/images/clients/manzone.png" },
  { name: "Consorcio INGENIEROS 109", logo: "/energy-template/images/clients/ingenieros.png" },
  { name: "Consorcio EUGENIO BLANCO", logo: "/energy-template/images/clients/eugenio-blanco.png" },
  { name: "GRUPO MAIPU COMPAÑIA DE SERVICIOS", logo: "/energy-template/images/clients/maipu.png" },
  { name: "TRANSTEX", logo: "/energy-template/images/clients/transtex.png" },
];

const firstHalf = clients.slice(0, Math.ceil(clients.length / 2));
const secondHalf = clients.slice(Math.ceil(clients.length / 2));

export interface Props {
  className?: string;
}

---

<section class="py-16 bg-base dark:bg-base-dark">
  <div class="w-[full]">
    <Container className="mx-auto flex flex-col items-center justify-center text-center">
      <Title2>Nuestros Clientes</Title2>
      <SubTitle2>
        Empresas y Barrios <br />
        <GradiantText>que confían en nosotros</GradiantText>
      </SubTitle2>
    </Container>
    
    <div class="flex flex-col gap-8">
      <ClientMarqueeReact client:only="react" clients={firstHalf} direction="left" />
      <ClientMarqueeReact client:only="react" clients={secondHalf} direction="right" />
    </div>
  </div>
</section> 