---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 - Página no encontrada">
  <main class="min-h-screen flex items-center justify-center bg-base dark:bg-base-dark">
    <div class="text-center px-4 relative">
      <div class="absolute inset-0 flex items-center justify-center">

      </div>
      <div class="relative z-10">
        <h1 class="text-4xl font-bold text-accent dark:text-accent-light mt-4 tracking-tight">Página no encontrada</h1>
        <p class="text-accent-600 dark:text-accent-300 mt-4 mb-10 text-lg max-w-md mx-auto">la página que estás buscando no existe o fue movida.</p>
        <a href="/" class="inline-block bg-cta text-white px-6 py-3 rounded-lg hover:bg-opacity-90 transition-all duration-300" aria-label="Volver a la página de inicio">Volver a la página de inicio</a>
      </div>
    </div>
  </main>
</Layout> 